<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/index-about.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'index-about';
	</script>

	<% MENU_ACTIVE = 'About'; %>

</head>
<body>

<div class="wrap">


	<div class="mask"></div>
	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">
			<div class="inner">
				<div class="about">
					<h4>ABOUT ME.</h4>

					<p>thonatos.yang@gmail.com</p>
					<p>Front-end Developer / 前端汪 </p>
					<p>09/2011-06/2015 B. C., Department of Remote sensing science and technology, NUIST, NanJing</p>

				</div>
			</div>
		</div>

		<% include ../tmpl/layout_footer.ejs %>

	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>

