{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/public/css/dev/user-signinup.css"/>
{{/extend}}
    
    <div class="row user">

        <div class="one-half column intro">
            <div class="inner">
                <h3>User Center</h3>
                <p>
                    User center for MT.Notes. Register & login to manage or lookup information.  
                </p>
            </div>
        </div>
        
        <div class="one-half column login">
            
            <div class="inner">
                
                <a class="suggestion" href="/user/signup">Register ?</a>
                
                <form class="form-login" action="/user/signin" method="post">
    
                    {{#if message}}
                    <div class="input-group">
                        <span>{{message }}</span>
                    </div>
                    {{/if}}
    
                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input class="u-full-width" type="text" name="email"/>
                    </div>
    
                    <div class="input-group">
                        <label for="password">Password:</label>
                        <input class="u-full-width" type="password" name="password"/>
                    </div>
    
                    <div class="input-group">
                        <button type="submit" class="button">Submit</button>
                        <button type="reset" class="button">Reset</button>
                    </div>
                </form>                 
            </div>
               
        </div>
    </div>

{{#extend "scripts"}}
{{/extend}}
