<div class="footer">
	<div class="row inner">
		<div class="col-12 center text-right">
			<p>The very beginning mind itself is the most accomplished mind of true
				enlightenment .</p>

			<p>不忘初心，方得终始。</p>
		</div>
	</div>
</div>