<div class="footer">
	<div class="row inner">
		<div class="col-12 center text-right">
			© <%= (new Date()).getFullYear() %>  •  Powered By「MT.Notes」  •  Depending On Node & <i class="fa fa-github"> Github</i>.
		</div>
	</div>
</div>

