{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/public/css/dev/index-index.css"/>
{{/extend}}

<div class="index">
    
    <div class="container">
        
        <div class="inner-box">
               <div class="vertical-box">
                   
                        <div class="intro-section white-text "> 
                            <div class="typed"></div>         
                        </div>
                        
                        <div class="about-section white-text">
                            
                            <ul class="social-ul fadeInLeftBig">
                                <li class="weibo">
                                    <a href="http://weibo.com/thonatos">
                                        <i class="fa fa-2x fa-weibo"></i>
                                    </a>
                                </li> 
                                
                                <li>
                                    <a href="https://github.com/thonatos">
                                        <i class="fa fa-2x fa-github"></i>
                                    </a>
                                </li>                                 
                            </ul>      
                        
                            <p class="user-desc fadeInUpBig">
                                thonatos.yang@gmail.com <br>
                                Frontend Developer / 前端汪 <br>
                                09/2011-06/2015 B. C., Department of Remote sensing science and technology, NUIST, NanJing
                            </p>   
                                                
                        </div>                   
               </div>             
        </div>

    </div>
    
</div>

{{#extend "scripts"}}
    <script src="//cdn.bootcss.com/typed.js/1.1.1/typed.min.js"></script>
    <script>
        $(window).load(function(){
            $('.user-desc, .social-ul').addClass('animated');
            
            $(".typed").typed({
                strings: [
                    "Another frontend developer,", 
                    "Javascript is the best programming language in the world,",
                    "I'm Thonatos.Yang. who are you ?"
                ],
                typeSpeed: 200
            });                    
        });      
    </script>
{{/extend}}
