{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/public/css/dev/index-mood.css"/>
      
{{/extend}}
    
<div class="mood">
    
    <div class="container">
        
            <div class="timeline">
                <!--Mood-List-->
                    <div class="item">
                        <div class="content">

                            <div class="post">
                                <div class="panel">
                                    <div class="panel-header">
                                        <div class="title">MOOD</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="post-title">
                                            <h3><a href="#"></a></h3>
                                        </div>
                                        <div class="post-content">
                                            <p>
                                                There is nothing to show?<br>
                                                貌似没什么可以展示的么？
                                            </p>

                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="post-meta">
                                            <div class="inner">
                                                <span class="post-date right">2015-07-09T15:13:57.286Z</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
            </div>

            <div class="pager">
                <a class="nextPage right query-more hidden"
                    href="#">&larr; More&rarr;</a>
            </div>                        
    </div>
</div>

{{#extend "scripts"}}
    <script src="/public/js/dev/index-mood.js"></script>
{{/extend}}
