{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/public/css/dev/index-mood.css"/>
      
{{/extend}}
    
<div class="mood">
    
    <div class="container">
        
            <div class="timeline">
                <!--Mood-List-->
                    <div class="item">

                        <div class="card">
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                        
                    </div>
            </div>

            <div class="pager">                    
                <a class="btn waves-effect waves-light red lighten-3 right query-more hidden" target="_blank" href="#">&larr; More&rarr;</a>                    
            </div>                        
    </div>
</div>

{{#extend "scripts"}}
    <script src="/public/js/dev/index-mood.js"></script>
{{/extend}}
