@import "../less/v2/base";

html,
body{
    height: 100%;
}

a{
    color: inherit;
}


// Header
.mt-nav-header{

    padding: 0 16px;
    
    a{
        color: @COLOR_PRIMARY;
    }
    
    .brand-logo{
                
        max-height: 100%;
        font-size: 1.2em;        
        
        .mt-logo{
            display: inline-block;   
            padding: 8px;         
            
            height: 64px;;
            border-radius: 50%;
        }    
        
        .mt-text{            
            display: inline-block;              
            padding: 14px 0;

            height: 64px;
            line-height: 36px;            
            
            vertical-align: top;
        }    
    }    
}

// Footer
footer{
    padding: 1em 0;
    color: #2d2d2d;
}

.main{        
}


/* Mobile first queries */

    
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
     
}

/* Larger than desktop */
@media (min-width: 1000px) {    
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}