// @import "../less/base";
@import "../less/compoment/panel";
@import "../less/compoment/pager";
@import "../less/compoment/timeline";

.mood{
    
    
  .title {

    margin: 0;
    padding: 0;

    color: #626262;

    font-size: 12px;
    font-weight: 600;
    line-height: normal;

    overflow: hidden;

    text-overflow: ellipsis;
    text-transform: uppercase;
  }
      
  .pager {
    background-color: #fff;
  }    
}