@import "../less/v2/base";
@import "../less/compoment/timeline";

.mood{

    padding: 1em 0;
            
    .title {
        margin: 0;
        padding: 0;
        
        color: #626262;
        
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        
        overflow: hidden;
        
        text-overflow: ellipsis;
        text-transform: uppercase;
    }

        
    .pager {
        background-color: #fff;        
        #utils.clear();
    }    
}