.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: 0 auto !important;
  float: none !important;
}
.text-right {
  text-align: right;
}
.clearfix {
  clear: both;
}
.hidden {
  display: none;
}
.gray-darker {
  color: #222222;
}
.gray-dark {
  color: #333333;
}
.gray {
  color: #555555;
}
.gray-light {
  color: #777777;
}
.gray-lighter {
  color: #eeeeee;
}
.white {
  color: #ffffff;
}
*,
:after,
:before {
  box-sizing: border-box;
}
* {
  font-family: 'Noto Sans CJK SC', 'Source Han Sans CN', 'Source Han Sans TC', 'Source Han Sans', 'Nimbus Sans L', 'Liberation Sans', 'Hiragino Sans GB', 'Nota Han Sans', 'Microsoft YaHei', 'Droid Sans', 'Droid Sans Fallback', 'Wenquanyi Micro Hei ', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Noto Sans CJK SC", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
a {
  color: inherit;
}
.mt-nav-header {
  padding: 0 16px;
}
.mt-nav-header a {
  color: #272D4E;
}
.mt-nav-header .brand-logo {
  max-height: 100%;
  font-size: 1.2em;
}
.mt-nav-header .brand-logo .mt-logo {
  display: inline-block;
  padding: 8px;
  height: 64px;
  border-radius: 50%;
}
.mt-nav-header .brand-logo .mt-text {
  display: inline-block;
  padding: 14px 0;
  height: 64px;
  line-height: 36px;
  vertical-align: top;
}
footer {
  padding: 1em 0;
  color: #2d2d2d;
}
/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
