.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: 0 auto !important;
  float: none !important;
}
.text-right {
  text-align: right;
}
.clearfix {
  clear: both;
}
.hidden {
  display: none;
}
.gray-darker {
  color: #222222;
}
.gray-dark {
  color: #333333;
}
.gray {
  color: #555555;
}
.gray-light {
  color: #777777;
}
.gray-lighter {
  color: #eeeeee;
}
.white {
  color: #ffffff;
}
*,
:after,
:before {
  box-sizing: border-box;
}
* {
  font-family: 'Noto Sans CJK SC', 'Source Han Sans CN', 'Source Han Sans TC', 'Source Han Sans', 'Nimbus Sans L', 'Liberation Sans', 'Hiragino Sans GB', 'Nota Han Sans', 'Microsoft YaHei', 'Droid Sans', 'Droid Sans Fallback', 'Wenquanyi Micro Hei ', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Noto Sans CJK SC", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.main {
  background-color: #1f233d;
}
.index {
  width: 100%;
  height: 100%;
}
.index .container {
  height: 100%;
}
.index .container .inner-box {
  display: table;
  height: 100%;
}
.index .container .inner-box .vertical-box {
  display: table-cell;
  vertical-align: middle;
}
.index .container .inner-box .vertical-box .intro-section {
  padding: 1em 0;
  height: 100px;
}
.index .container .inner-box .vertical-box .intro-section .typed {
  font-size: 1.2em;
  font-family: Courier New, Courier, monospace;
  font-style: italic;
  line-height: 1.8em;
}
.index .container .inner-box .vertical-box .about-section {
  padding: 1em 0;
}
.index .container .inner-box .vertical-box .about-section .social-ul {
  list-style: none;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.index .container .inner-box .vertical-box .about-section .social-ul li {
  display: inline-block;
  padding-right: 0.5em;
}
.index .container .inner-box .vertical-box .about-section .user-desc {
  font-size: 1em;
  line-height: 1.8em;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
