<div class="navbar-fixed">
    <nav class="white mt-nav-header">
        <div class="nav-wrapper">
            
            <a href="/" class="brand-logo">
                {{#if @app.site.logo}}
                    <img class="mt-logo" src="{{@app.site.logo}}" alt="logo">   
                {{/if}}    
                    <span class="mt-text">{{@app.site.name}}</span>                       
            </a>        
    
            
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#each @app.menu}}
                <li><a href="{{link}}">{{name}}</a></li>
            {{/each}}
            </ul>
        </div>
    </nav>    
</div>  