{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/public/css/pro/index-mood-d9288f88.css"/>
      
{{/extend}}
    
<div class="mood">
    
    <div class="container">
        
            <div class="timeline">
                <!--Mood-List-->
                    <div class="item">

                        <div class="card">
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                        
                    </div>
            </div>

            <div class="pager">  
                <a class="btn waves-effect waves-light green-clear-bg right query-prev hidden" target="_blank" href="#">&larr; Prev</a>
                <a class="btn waves-effect waves-light green-clear-bg right query-next hidden" target="_blank" href="#">Next&rarr;</a>
            </div>                        
    </div>
</div>

{{#extend "scripts"}}
    <script src="/public/js/pro/index-mood-357a70f7.js"></script>
{{/extend}}
