<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/labs-video.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'labs-video';
	</script>

	<% MENU_ACTIVE = 'Labs'; %>

</head>
<body>

<div class="wrap">

	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">
			<div class="row inner">
				<p class="title">HTML-Video</p>

				<div class="col-12 info">
					<p>html5 video的相关事件方法属性的获取设置，测试。</p>
				</div>
				<div class="col-12">
						<div class="video-section" style="width: 100%;height: 524px;">
							<video id="html5-video" width="100%" data-src="//media.html5media.info/video.mp4" poster="">
								您的浏览器不支持 HTML5 video 标签。
							</video>

						</div>
				</div>
			</div>
		</div>

		<% include ../tmpl/layout_footer.ejs %>
	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>