<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/labs-index.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'none';
	</script>

	<% MENU_ACTIVE = 'Labs'; %>

</head>
<body>

<div class="wrap">

	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">
			<div class="inner">

				<p class="title">一些。试验品</p>

				<ul class="demo-list">
					<li>
						<a href="/labs/mt-notes">MT-Notes</a>
					</li>
					<li>
						<a href="/labs/html-video">Custom HTML5 Player</a>
					</li>

					<li>
						<a href="/labs/touch-event">Touch Event Listener</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer">
		</div>
	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>