{{#extend "stylesheets"}}    
{{/extend}}
    
<div class="row user">

    <div class="col s6 intro">
        <div class="inner">
            <h3>User Center</h3>
            <p>
                User center for MT.Notes. Register & login to manage or lookup information.  
            </p>
        </div>
    </div>
    
    <div class="col s6 login">
        
        <div class="inner">
            
            <a class="suggestion" href="/user/signin">Login ?</a>
            
            <form class="form-login" action="/user/signup" method="post">

                {{#if message}}
                <div class="input-field col s12">
                    <span>{{message }}</span>
                </div>
                {{/if}}

                <div class="input-field col s12">
                    <label for="email">Email:</label>
                    <input  type="text" name="email"/>
                </div>

                <div class="input-field col s12">
                    <label for="password">Password:</label>
                    <input  type="password" name="password"/>
                </div>

                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light right">Submit</button>
                    <button type="reset" class="btn waves-effect waves-light right">Reset</button>
                </div>
            </form>               
        </div>
            
    </div>
</div>
    
{{#extend "scripts"}}
{{/extend}}
